<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garden Layout</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>{{.Name}}</h1>
    <p>Start date: {{.StartDate}}</p>

    <p>
      Planting: Pre-soaking of seeds in warm water overnight before planting
      them helps to soften the seed coat and speed up the seed germination. The
      seed should be planted 1/4 inch deep. Sow the seeds in moist soil, but the
      soil should not be over damp or soil dripping with water. Don't expose it
      to direct sunlight until the seeds get germinated. Maintaining a warm
      temperature leads to faster germination than very cold or scorching
      weather.
    </p>
    <p>
      Or If you want to germinate the seeds separately in a tray use the same
      soil mix sow the seed in moist soil. Pre-soaking of seeds in warm water
      overnight before planting them helps to soften the seed coat and speed up
      the seed germination. Sow the seeds in moist soil, but the soil should not
      be over damp or soil dripping with water. Don't expose the germination
      trays or grow bags in direct sunlight until the seeds get germinated.
      Maintaining a warm temperature leads to faster germination than very cold
      or scorching weather. Replant as soon as the seedlings break the surface
      and come out. And follow the planting process.
    </p>
    <table>
      <tbody>
        {{range $rowIndex, $row := .GardenLayout}}
        <tr>
          <td>{{$rowIndex}}</td>
          {{range $colIndex, $cell := $row}}
          <td>{{$colIndex}}</td>
          <td>{{$cell.Name}}</td>
          <td>{{$cell.PlantsPerSquare}}</td>
          <td>{{$cell.ProducePerSquareFootPerWeek}}</td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
    <p>
      Watering: Keep the soil moist always by slightly sprinkling the water over
      that area in the morning and evening.
    </p>
    <p>
      Fertilizer: Usage of organic growth promoters like cow dung manure, bone
      meal & fish meal monthly usage help in improved flowering and overall
      health of the plant.
    </p>
    <p>
      Pest control: Neem oil stands out as an excellent organic solution for
      your garden. Additionally, incorporating marigold plants into your garden
      not only adds vibrant colors but also serves as an effective natural pest
      repellent.
    </p>

    <!-- Add more HTML content as needed -->
  </body>
</html>
